/*
* Copyright 2018 - Dennis Lichti
* Visit: https://dennislichti.review
*/

/*
* Defines the Body & HTML structure
*/
body, html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
}

/*
* Defines the Jumbotron attributes
*/
.jumbotron {
  position: relative;
  z-index: -2;
  left: 45%;
  margin-top: 10%;
  height: 100vh;
}

/*
* Defines the H1 attributes
*/
h1 {
  padding: 3px;
  color: white;
  text-shadow: 3px 3px #000000;
}

h1::before {
  content: 'Get the customers you deserve, whether it be for'
}

/*
* Defines the Video attributes
*/
#video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}
